.navbar-brand {
  display: block;
  position: relative;

  &.header {
    float: left;
    margin: 15px 0 0 40px;

    img {
      float: left;
    }
  }

  a {
    margin: 0 !important;
  }

  img {
    height: 40px;
    vertical-align: middle;
    border-style: none;
  }

  .xpro-logo {
    height: 35px !important;
    width: 125px;
  }  

  .xpro-ol-logo {
    height: 33px;
    width: 129px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(7500%) hue-rotate(261deg) brightness(98%) contrast(106%);
  }  

}
