## mako
<%page expression_filter="h"/>
<%!
  from urllib.parse import urljoin
  from django.conf import settings
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<%
  platform_name = configuration_helpers.get_value('platform_name', settings.PLATFORM_NAME)
  footer = get_footer(is_secure=True)
  footer['copyright'] = _(u"\u00A9 {org_name}.  All rights reserved except where noted.").format(org_name=platform_name)
  for idx, link_data in enumerate(footer["navigation_links"]):
    if link_data["name"] == "help-center":
      link_data["title"] = _("Support Center")
      footer["navigation_links"][idx] = link_data
    elif link_data["name"] == "contact":
      contact_url = settings.MKTG_URLS.get("CONTACT", None)
      if contact_url:
        link_data["url"] = contact_url
        footer["navigation_links"][idx] = link_data
  for item_num, link in enumerate(footer['legal_links']):
    if link['name'] == "privacy_policy":
        link["url"] = urljoin(settings.XPRO_BASE_URL, "privacy-policy")
        footer["legal_links"][item_num] = link
    elif link['name'] == "terms_of_service":
        link["url"] = urljoin(settings.XPRO_BASE_URL, "terms-of-service")
        footer["legal_links"][item_num] = link
    elif link['name'] == "honor_code":
        link["url"] = urljoin(settings.XPRO_BASE_URL, "honor-code")
        footer["legal_links"][item_num] = link

%>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}</a>
                </li>
              % endfor
            </ul>
          </nav>

          ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
          <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

          <nav class="navbar legal-nav navbar-expand-sm" aria-label="${_('Legal')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['legal_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}</a>
                </li>
              % endfor
            </ul>
          </nav>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </footer>
  </div>
% else:
  <div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
      <div class="colophon">
        <nav class="nav-colophon" aria-label="${_('About')}">
          <ol>
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
              <li class="nav-colophon-0${item_num}">
                  % if link['name'] not in ['donate', 'blog']:
                    <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
                  % endif
              </li>
              % endfor
          </ol>
        </nav>

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif

        <div class="wrapper-logo">
            <div class="navbar-brand">
                <a href="https://web.mit.edu/" rel="noopener noreferrer" target="_blank" class="mit-link"></a>
                <a href="${settings.XPRO_BASE_URL}"" class="xpro-link"></a>
                <img  class="logo xpro-logo" src="${footer['logo_image']}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
            </div>
        </div>

        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              <li class="nav-legal-0${item_num}">
                <a href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
          </ul>
        </nav>
      </div>
    </footer>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
